{{#if isSupported}}
  <div class="margin-bottom">
    <button {{action "toggleShowQR"}}>
      Toggle QR Scanner
    </button>

    <button {{action "toggleShowBarcode"}}>
      Toggle Barcode Scanner
    </button>
  </div>

  {{#if result}}
    <h3>Result:</h3>
    <h3>{{result}}</h3>
  {{/if}}

  {{#if isShowingQRScanner}}
    {{qr-scanner onSuccess=(action (mut result))}}
  {{/if}}

  {{#if isShowingBarcodeScanner}}
    <div id="interactive" class="viewport">
    </div>
  {{/if}}
{{else}}
  <p>QR and barcode scanning is not supported in your browser.</p>
{{/if}}
